{#
/**
 * @file artiste_entity.html.twig
 * Default theme implementation to present Artiste data.
 *
 * This template is used when viewing Artiste pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_artiste_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('artiste_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
