{#
/**
 * @file oeuvre_entity.html.twig
 * Default theme implementation to present Oeuvre data.
 *
 * This template is used when viewing Oeuvre pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oeuvre_entity()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'oeuvre_entity',
  content['classe_type_oeuvre'][0],
]
%}
<div {{ attributes.addClass(classes) }}>
  {% if content %}
    {% if content['#collection_en_cours'] %}
      <h1 class="page-title">
        {{ content['#collection_en_cours']['label'] }}
        <a href="{{ content['#collection_en_cours']['url'] }}">{{ content['#collection_en_cours']['name'] }}</a>
      </h1>
    {% endif %}
    {{- content -}}
  {% endif %}
</div>
